<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布文章</title>
</head>
<body>
<form action="" method = "POST">
    <p>
        <label for="">标题</label>
        <input placeholder="标题" name="title">
        <label for="">作者</label>
        <input placeholder="作者" name="author">
    </p>
    <p>
        <label for="">内容</label>
        <textarea name="content" id="" cols="30" rows="10"></textarea>
    </p>
    <p>
        <input type="checkbox" name="tag" value="小说">小说
        <input type="checkbox" name="tag" value="散文">散文
        <input type="checkbox" name="tag" value="灌水">灌水
    </p>
    <p>
        <input type="submit" value="发布文章">
    </p>
</form>

</body>
</html>